* {
    list-style: none;
    color: black;
    font: roboto;
    font-size: 14px;
    text-decoration: none;
} 

address{
    font-style: normal;
}

 a:hover, button:hover {
    color: #2196F3;
}

.logo,  .logo span {
    font: Raleway;
    font-size: 26px;
    font-weight: 700;
}

.filters li {
    filter: drop-shadow(2px 2px 2px black);
}

.spanblue {
    color: #2196F3;
}
.spanwhite {
    color: white;
}
 
footer{
    background-color: #2F303A;
    color: rgba(255,255,255, 0.6);
}
