* {
    list-style: none;
    color: black;
    font: roboto;
    font-size: 14px;
    text-decoration: none;
} 

address{
    font-style: normal;
}

 a:hover, button:hover {
    color: #2196F3;
}

.logo,  .logo span {
    font: Raleway;
    font-size: 26px;
    font-weight: 700;
}

.filters li {
    filter: drop-shadow(2px 2px 1px black);
}

.spanblue {
    color: #2196F3;
}
.spanwhite {
    color: white;
}
 
footer {
    background-color: #2F303A;
}
address a{
    color: rgba(255, 255, 255, 0.6);
}

.team li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px 
    rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
